.conteiner{
    max-width: 1100px;
    margin: 0px auto;
}
.top-header{
    background-color:#35b8be;

    p{
        text-align: center;
        color: white;
    }
}


.nav{
    padding: 10px;
    box-sizing: border-box;
    display: flex;

    &__menu {
        flex: 50%;
        list-style: none;
        padding: 0;
        display: flex;
        gap: 15px;
        justify-content: center;
        font-size: 16px;

        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
        }
    }
    &__logo {
        flex: 50%;
        img{
            width: 40px;
        }
    }
}

.primary-color{
    color: #35b8be;
}

.button{
    background-color:#35b8be;
    padding: 15px 25px;
    color:white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.banner{
    display: flex;
    flex-direction:row;
    padding: 30px;
    box-sizing:border-box;
    &__info{
        flex: 55%;
        align-self:center;
        h1{
            font-size: 45px;
        }
        P{
            width: 100%;
        }
    }
    &__img{
        flex: 45%;
        img{
            width: 100%;
        }
    }
}
#fresh-products{
    background-color:#f5fbfc;
}
.fp{
    display: flex;
    padding: 30PX;
    box-sizing: border-box;


    &__info{
        flex:60%;
        align-self: center;

        h1{
            font-size: 45px;
        }
        p{
            max-width: 80%;
            color: #aaa;
            margin-bottom: 40px;
        }
    }
    &__img{
        flex: 40%;
        img{
            width: 100%;
        }
    }
}
.hiw{
    padding: 30px;
    box-sizing:border-box;
    &__heading{
        text-align: center;
        font-size: 45px;
    }
    &__content{
        display: flex;
        padding: 20px;
    }
    &__card{
        img{
            width: 80%;
        }
        h3{
            text-align: center;
        }
        p{
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }
    }
}